

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

:root{
  --primary--color: #00ffff;
  --secondary--color: #002577;
  --accent-color: #fff;
  --accent-color-dark: #2294ed;
}

/* header section */
header{
width: 100%;
height: 50px;
padding: 0px 100px;
background-color: var(--secondary--color);
color: var(--accent-color);
display: flex;
justify-content: space-between;
line-height: 60px;
font-size: x-small;
}
header .company-name span{
  font-size: x-small;
}
header .contact span{
  color: #00ffff;
}

/* Hero section */

main{
  width: 100%;
  height: 500px;
  background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img\ folder/industryy.jpg);
  background-size: cover;
  position: center center;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--accent-color);
}

main .industrial h1 {
font-weight: normal;
}

main .industrial span {
  font-weight: bolder;
  display: block;
 }

 
main form {
  margin: 0;
  padding: 0;
  border: none;
  background: var(--secondary--color);
  max-width: 300px;
  margin: 0 10px;
  padding: 7px; 
  

}




.form-row {
  margin-bottom: 20px;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: calc(50% - 5px);
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
}


button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--primary--color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

input[name="company_name"] {
  width: 100%;
}  

/* section section */

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.innovation,.culture, .solution {
  flex-basis: 30%;
  text-align: center;
  margin: 20px;
  color: #002577;
}

.innovation img, .culture img,.solution img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.innovation h1,.culture h1,.solution h1 {
  margin: 20px 7px 0px;
  color: #002577;
}

.innovation p , .solution p, .culture p {
  margin-bottom: 0;
  
}
/* learn more section */

.learn-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: var(--secondary--color);
  border-radius: 5px;
  align-items: center;
  color: var(--accent-color);
  margin: 25px 30px;
}

.div-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.div-paragraph {
  margin-bottom: 20px;
  text-align: center;
}

.learn-more-button {
  padding: 10px 20px;
  background-color: transparent; 
  color:var(--accent-color); 
  border: 2px solid var(--accent-color); 
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.6s; 
}

.learn-more-button:hover {
  background-color: #007bff; 
  color: #fff; 
}
/* about section */
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 50px;
  text-align: center;
  
}
.left img{
  width: 400px;
  height: 350px;
  padding: 20px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 50px;
  text-align: center;
}
.right img{
  width: 400px;
  height: 350px;
  padding: 20px;
}
/* footer */
footer{
  background-color: var(--secondary--color);
  color: #fff;
  padding: 20px;
  text-align: center;
}

